.nodered/.flows_miguel-Dell-System-XPS-L502X.json.backup
[{"type":"tab","id":"f2181939.0de7e8","label":"Glukose-Cloud"},{"id":"4d1060c0.b2efa","type":"mqtt-broker","z":"f2181939.0de7e8","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9a3f0709.65c0f8","type":"debug","z":"f2181939.0de7e8","name":"out debug","active":true,"console":"false","complete":"payload","x":457,"y":60,"wires":[]},{"id":"ec611d7f.139ee","type":"catch","z":"f2181939.0de7e8","name":"","scope":null,"x":190,"y":222,"wires":[["bb6a5bca.4495a8"]]},{"id":"bb6a5bca.4495a8","type":"debug","z":"f2181939.0de7e8","name":"error","active":true,"console":"false","complete":"payload","x":356,"y":222,"wires":[]},{"id":"cbec3d13.3413c","type":"function","z":"f2181939.0de7e8","name":"persist","func":"console.log('Start persist node');\n\nvar loopback = context.global.loopback;\nvar Device = loopback.models.Device;\n\n// convert from string to JSON\nvar msg = JSON.parse(msg);\n\nDevice.registerMeasure(msg.payload, function(err, device) {\n    if (err) node.error(\"registerMeasure device error\", msg);\n    \n    node.send(msg);\n});\n    \nreturn;","outputs":1,"noerr":0,"x":266,"y":60,"wires":[["9a3f0709.65c0f8"]]},{"id":"682e54c8.97d1ac","type":"mqtt in","z":"f2181939.0de7e8","name":"glukose","topic":"glukose","broker":"4d1060c0.b2efa","x":90,"y":60,"wires":[["cbec3d13.3413c"]]}]